<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Link for icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!--Connect my css-->
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <title>File Upload</title>
  </head>
  <body>
    <div class="wrapper">
      <header>Add link to file</header>
      <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <input type="text" class="file-input" name="url">
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Browse file to upload</p>
        <input type="submit" value="Upload">
      </form>
      <section class="progress-area">
        <li class="row">
          <i class="fas fa-file-alt"></i>
          <div class="content">
            <div class="details">
              <span class="name">http://XXX/100mb.bin * Uploading</span>
              <span class="percent">50%</span>
            </div>
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
          
        </li>
      </section>
      <section class="uploaded-area">
        <li class="row">
          <div class="content">
            <i class="fas fa-file-alt"></i>
            <div class="details">
              <span class="name">http://XXX/100mb.bin * Uploaded</span>
              <span class="size">100 MB</span>
            </div>
          </div>
          <i class="fas fa-check"></i>
        </li>
      </section>
    </div>
    <script src="static/js/upload.js"></script>
  </body>
</html>